.forget {
    display: flex;
    flex-direction: column;
    padding: 100px 300px;
}

.forget form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 70px;
    border-radius: 15px;
}

.forget form h1 {
    font-weight: bold;
    font-size: 22px;
}

.forget form p {
    text-align: center;
    font-size: 11px;
}

.forget form button {
    background-color: #7983FF;
    color: white;
    padding: 15px 0px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}

.forget form button:hover {
    cursor: pointer;
}

.forget form .input-field {
    margin-top: 5px;
    width: 100%;
}

.forget .extra-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forget .extra-text p {
    text-align: left;
}

.extra-text span {
    color: #7983FF;
}

.extra-text span:hover {
    cursor: pointer;
}