.homepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}

.home > .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.home-body {
    background-color: transparent;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 550px;
    position: relative;
}


.top-left {
    position: absolute;
    height: 60px;
    top: 40px;
}

.top-right {
    position: absolute;
    height: 120px;
    top: 7px;
    right: -40px;
}

.bottom-left {
    position: absolute;
    height: 160px;
    top: 460px;
    z-index: 999;
}


.home-body .words {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-body .main-text {
    font-weight: bolder;
    font-size: 50px;
    line-height: 50px;
}

.home-body .sub-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 30px;
}

.home-body .words button {
    padding: 8px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    color: white;
    background-color: #473bf0;
}

.home-body .words button:hover {
    cursor: pointer;
}

.home-body .graphic {
    display: flex;
    justify-content: end;
}

.home-body .graphic img {
    height: 400px;
}

.second-segment {
    background-color: white;
    width: 100vw; /* Occupy the full width of the viewport */
    margin-left: calc((100% - 100vw) / 2);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: 0px -5px 10px 4px #d3bec48e;
    display: flex;
    justify-content: center;
}

.second-segment .segment-content {
    max-width: 1020px;
    min-width: 1020px;
    display: flex;
    flex-direction: column;
    /* background-color: rebeccapurple; */
    gap: 60px;
    padding: 40px 0px;
    min-height: 550px;
    position: relative;
    height: 600px;
}

.second-middle {
    position: absolute;
    height: 90px;
    top: 100px;
    right: 0px
}

.second-segment .segment-content .row-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
    padding: 30px 100px;
    z-index: 998;
}

.second-segment .segment-content .row-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    z-index: 998;
}

.second-segment .segment-content .row-two .title {
    font-size: 20px;
    font-weight: bold;
}

.second-segment .segment-content .row-two .desc {
    font-size: 11px;
}

.second-segment .segment-content .row-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 90px;
    z-index: 998;
}

.second-segment .segment-content .line-groups {
    height: 350px;
    width: 800px;
    position: absolute;
    top: 270px;
    right: 160px;
    z-index: 990;
}

.break-segment {
    height: 30px;
    background-color: #473BF0;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    color: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    box-shadow: 9px 15px 25px #f0c8d3a1;
    z-index: 900;
}

.break-segment button {
    padding: 7px 15px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    color: #473BF0;
}

.third-segment {
    display: flex;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    display: flex;
    justify-content: center;
    height: 1000px;
    background-color: white;
}

.third-segment .third-segment-content {
    background-color: #f4f7fa;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    /* padding: 70px 0px 0px 0px; */
}

.third-segment .third-segment-content .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0px;
    width: 1020px;
    position: relative;
}

.third-segment-content .third-right {
    position: absolute;
    height: 120px;
    top: 20px;
    right: -60px;
}

.third-segment-content .third-left {
    position: absolute;
    height: 100px;
    top: 30px;
    left: 70px;
}

.third-segment-content .content .col-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-segment-content .content .col-image img{
    height: 290px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.404);
}

.third-segment-content .content .col-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.col-info .first {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.col-info .first .title {
    font-weight: bold;
    font-size: 22px;
}

.col-info .first .sub-title {
    font-size: 13px;
    margin-top: 10px;
}

.col-info .next {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.col-info .next button {
    width: 170px;
    height: 45px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #473BF0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    padding: 0px 10px;
}

.fourth-segment {
    background-color: white;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    display: flex;
    justify-content: center;
    height: 800px;
    padding: 100px 20px;
    align-items: center;
}

.fourth-segment-content {
    width: 1020px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.fourth-segment-content .fourth-top-left {
    position: absolute;
    height: 100px;
    top: -40px;
    left: -80px;
}

.fourth-segment-content .title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bolder;
}

.fourth-segment-content .testimonies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 30px;
}


