.profile-page h1 {
    color: black;
    font-size: 16px;
}

.profile-page h2 {
    color: black;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 1px solid rgba(77, 75, 75, 0.345);
    padding: 5px 30px;
}

.profile-page p {
    font-size: 12px;
}

.profile-page {
    display: flex;
    flex-direction: column;
    padding: 50px 70px 0px 70px;
    
}

.profile-page .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: white;
    height: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 40px 50px;
}

.profile-page .container .account-info {
    border: 1px solid rgba(77, 75, 75, 0.345);
    border-radius: 3px;
    margin-top: 13px;
}

.container .account-info .details {
    padding: 5px 30px 30px 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.container .account-info .details .star-count{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.678);
}

.container .account-info .details .star-icon {
    color: gold;
    font-size: 15px;
}

.container .account-info .details img {
    height: 240px;
    width: 240px;
    border-radius: 120px;
}

.container .account-info .details p {
    font-weight: bold;
}

.container .account-info .details .detail-breakdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.container .account-info .details .detail-breakdown p{
    font-weight:600;
}

.container .account-info .details .detail-breakdown span {
    color: rgba(0, 0, 0, 0.658);
    font-size: 13px;
    margin-left: 10px;
    font-weight: normal;
}

.profile-page .container .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-page .container button {
    border: none;
    background-color: #7983FF;
    color: white;
    padding: 18px 55px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}