/* SignUp.css */
.signup-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .signup-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-section img {
    max-width: 100%;
    height: auto;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  /* Adjustments for small screens */
  @media (max-width: 768px) {
    .signup-content {
      flex-direction: column;
    }
  
    .left-section,
    .right-section {
      flex: none;
      width: 100%;
    }
  
    .left-section img {
      max-width: 80%;
      margin-bottom: 20px;
    }
  }
  