.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.signup-form {
  width: 90%; 
  max-width: none; 
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.signup-title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #2F2F2F;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #2F2F2F;
  margin-bottom: 5px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
  height: 55px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 5px;
  padding: 0 40px;
  font-size: 16px;
  color: #2F2F2F; /* Text color */
}

.input-icon {
  position: absolute;
  left: 10px;
  color: #2F2F2F;
  font-size: 24px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-password .eye-icon {
  color: #2F2F2F;
  font-size: 24px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #6358DC;
  text-decoration: none;
}

.signup-button {
  width: 100%;
  height: 55px;
  background-color: #7983FF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.or-divider::before,
.or-divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #2F2F2F;
}

.or-divider span {
  padding: 0 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #2F2F2F;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.google-button,
.github-button {
  width: 125.33px;
  height: 51px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.login-link {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #000000;
}

.login-link a {
  color: #7983FF;
  text-decoration: none;
}

.input-icon, .eye-icon, .social-icon {
  color: #2F2F2F;
  font-size: 20px;
}

.eye-icon {
  cursor: pointer;
}

.social-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-icon {
  font-size: 24px;
}
